.component_fallback {
  @include flex(column, 6rem, center, center);
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;

  img {
    max-width: 400px;
  }

  .message {
    @include flex(column, 1.5rem, "");

    h1 {
      line-height: 48px;
      color: $color-green;

      span {
        font-size: 36px;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 14px;
      margin-top: -1rem;
      color: $color-grey;
    }

    .error_message {
      color: red;
      width: 100%;
      padding: 1rem;
      border: 1px solid red;
      border-radius: 10px;

      p {
        font-family: monospace;
        font-weight: 300;
        font-size: 13px;
        line-height: 24px;
        max-width: 500px;
      }
    }

    .buttons {
      @include flex(row, 1rem, center, space-between);
      width: 100%;
      margin-top: 0.5rem;

      a {
        width: 100%;
      }

      button {
        font-size: 15px;
        width: 100%;
      }
    }
  }
}
